.main-hero{
    display : flex;
    padding : 0 5%;
    height : 63vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(to right, #ff6b81, #f5509a); 
}

.hero-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex : 1;
    margin-top : -10px;
}
.new-arrival{
    font-size: 5.5rem;
    font-weight: 600;
    line-height: 0.5;
    letter-spacing: 2px;
    color : white;
    text-align: left;

}

.big-sale{
    font-size: 5.5rem;
    letter-spacing: 3px;
}
.offer-btn{
    color: #fff; 
    background-color: transparent;
    border: 3px solid #feccdd;
    letter-spacing: 3px;
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center;
    width : 270px;
    padding : 12px 25px;
    text-transform: uppercase;
    font-weight: 550;
}
.offer-btn:hover{
    color : black;
}
.offer-para{
     width: 600px;
     margin-top : 10px;
     font-size: 19px;
     font-weight: 400;
}
.shop-now-btn{
    text-decoration: none;
    background-color: #fff; 
    color: #ff6b81;
    width : 150px;
    padding : 10px 10px;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;   
}
.hero-right{
    background-color: #fddde6;
    border-radius: 500px;
    margin-top : 10px;
    margin-bottom: 10px;;
}

.hero-right img{
    width : 500px;
    height :62vh;
}

.main-hero .hero-left, .main-hero .hero-right {
    color: #fff;
}
.shop-now-btn:active {
    background-color: #f3f3f3;
}