.new-shop-category{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.new-main-banner{
    display : flex;
    height : 60vh;
    margin-bottom : 90px;
    box-shadow: 0 5px 10px #ccc;
    background-color: skyblue;
    width : 100%;
  
}
.new-mens-banner{
    display: flex;
    flex-direction: column;
    gap : 30px;
    padding-left: 3%;
}
.new-mens-banner .new-h1{
    font-size: 4rem;
    color : black;
    text-transform: uppercase;
}

.new-code-btn{
    border : 1px solid transparent;
    width : 300px;
    color: white!important;
    font-size: 1.5rem!important;
    background-color: 	#ff007f;
    padding : 10px 30px;
    text-align: center;
}

.new-mens-banner{
    display : flex;
    line-height: 1.3;
    justify-content: center;
    flex-direction: column;
    flex : 1;
    margin-top : -40px;
    color : white;
}

.new-mens-banner-img{
    display : flex;
    align-items: center;
   
}
.new-mens-banner-img img{
    width : 400px;
    height : 60vh;
}
.banner2{
    /* background-color: #ff007f;  */
    background-color: rgba(135, 242, 135, 0.556);
}
.banner3{
    padding-left: 10px;
    background-color:	#CF9FFF;
}