.item{
    /* width: 305px; */
    /* height : 480px; */
    width : 300px;
    height : 498px;
    overflow: hidden;
    transition: .3s ease-in-out;
  
    
}
.item img{
    width : 299px;
    height : 375px;
    object-fit: cover;
    cursor: pointer;
}

.item p{
    margin-top : 8px;
    padding : 0px 15px;
    font-size: 13.5px;
    color :black;
    font-weight: 500;
 
} 

.items-prices{
    display: flex;
    gap : 13px;
    padding : 0px 15px;
    margin-top : 19px;
    
}

.item-price-new{
    font-size: 15px;
    font-weight: 600;
    color : rgba(0, 0, 0, 0.895);

}
.item-price-old{
    font-size: 14px;
    font-weight: 600;
    color : gray;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
     box-shadow: .1px 1px 3px rgba(0,0,0,0.2);
}

.rating{
    float: right;
    padding : 2px 10px;
    margin-top: -30px;
    background-color: #f5f5f5;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.rating span{
    padding-right: 4px;
    font-size: 13px;
    font-weight: 550;
}
.rating i{
   font-size: .9rem;
   color : #ffc700;
}