.related-product{
    text-align: center;
    margin : 150px 130px;
    text-align: center;
}
.related-product h1{
    margin-bottom: 70px;
    font-size: 3rem;

}
/* .related-product-image{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap : 30px;
} */

 
 

