.ProductDisplay{
    display : flex;
    margin : 10px 130px;
    cursor : pointer;
}
.productdisplay-left{
    display : flex;
    gap : 30px;
}
.productdisplay-left-img{
    display: flex;
    flex-direction: column;
    gap : 15px;
}

.productdisplay-left-img img{
    /* width : 100px; */
    height : 140px;
}
.product-display-main-img img{
    width : 440px;
    height : 605px;
    /* width : 450px; */
    /* height : 605px; */
}
.productdisplay-right{
    display: flex;
    flex-direction: column;
    margin : 7px 70px;
}
.productdisplay-right h1{
    font-size: 35px;
    font: 500;
    color : #1c1c1c;
}
.product-display-right-star{
    display: flex;
    align-items: center;
    gap : 5px;
    margin : 10px 0;
    color : #5e5e5e;
}
.product-display-right-prices{
    display: flex;
    gap : 30px;
    margin : 20px 0;
    font-size: 24px;
    font-weight: 600;
}
.old-price{
    text-decoration: line-through;
    color : #818181;
}
.new-price{
    color : orangered;
}
.product-right-size {
    margin : 30px 0;
}
.product-right-size h2{
    font-size: 1.6rem;
    color : #1c1c1cb9;
}
.size{
    display : flex;
    gap : 30px;
    margin-top: 15px;
}
.size div{
    border : .7px solid black;
    /* box-shadow: 0px 1px 2px; */
    padding : 7px 20px;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: 2px;
    background-color: #fff
}
.size div:hover{
    background-color: black;
    color: white;
}
.cart-btn{
    background-color: #ff4b2b;
    width : 180px;
    padding : 19px 30px;
    text-align: center;
    color : white;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: .2s ease-in-out;
    text-transform: uppercase;
 
}


.category{
    margin-top: 20px;
    color : #333;
}
.category span{
    font-weight: 600;
    color : black
}
.tags{
    color : #333;
}
.tags span{
    font-weight: 600;
    color : black
}
.right-cart-content{
    position: relative;
}
.added-tocart-msg-container {
    overflow: hidden;
    transition: 3s ease-in-out;

}
.added-tocart-msg{
    position: absolute;
    right : 20px;
    top : 130px;
    transition: transform 3s ease-in-out;
    transform: translateX(100%);
}
.item-msg{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.988);
    box-shadow: 0px 2px 2px #ccc;
    padding : 15px;
    font-size: 15.5px;
    gap : 10px;
    width: 300px;
    transition: transform 3s ease-in-out;
}
.loading-bar{
    width : 300px;
    height : 5px;
    background-color: lightgreen;
}
.slide-in{
    transform: translateX(6%); 
}

.slide-out {
    transform: translateX(100%);
}